#header {
  background-color: rebeccapurple;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#section-1 {
  background-color: rgb(52, 1, 117);
  height: 35vh;
}
#video {
  position: relative;
  left: 470px;
  top: 100px;
}
#section-2 {
  background-color: white;
  margin: 45vh 20vw;
  padding: 0 100px;
  text-align: center;
  color: rebeccapurple;
}
#body-section-2 {
  width: 1000px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  height: 500px;
}
#img-section-2 {
  width: 50%;
  height: 50%;
  margin: 50px;
}
#text-section-2 {
  text-align: justify;
  font-size: 18px;
}
