body {
  background-image: url(./images/image_desktop.svg);
  background-repeat: no-repeat;
  background-color: #1f2331;
  background-position: right 15% top -145%;
  margin: 1em auto;
  font-family: "Roboto", sans-serif;
  width: 70vw;
  color: white;
}
ul#list-header {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: center;
}
#nav li {
  display: inline;
  list-style: none;
  text-align: center;
  padding: 1em;
  font-size: 0.7em;
  font-weight: bold;
}
#nav li:hover {
  color: #28ae83;
  cursor: pointer;
}
#logo {
  height: 2.5em;
  margin-right: 5em;
}
#logo-name {
  padding-right: 12em;
}
#menu-icon {
  display: none;
}
#main-text {
  margin-top: 9em;
  margin-left: 2.5em;
}
#title-banner {
  text-align: left;
  font-size: 64px;
  font-weight: 100;
  line-height: 1em;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
}
#text-banner {
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.8em;
  margin-top: 1em;
  font-family: "Rubik", sans-serif;
  margin-top: 1.5em;
}
.text-color {
  color: #28ae83;
}
#header-button {
  background-color: #1f2331;
  font-weight: 800;
  font-size: 0.85em;
  padding: 0.8em 1em;
  border-radius: 40px;
  border-color: #28ae83;
  border-style: solid;
  border-width: 1px;
  width: 22em;
}
#header-button:hover {
  background-color: #1f2934;
  cursor: pointer;
  border-width: 2px;
}
#language-button {
  background-color: #1f2331;
  color: white;
  font-size: 1em;
  padding: 0.8em 1.6em;
  border-radius: 40px;
  border-color: white;
  overflow: hidden;
  margin: 0;
}
#banner-button {
  background-color: #28ae83;
  color: white;
  font-weight: 900;
  font-size: 0.6em;
  padding: 1em 1.6em;
  border-radius: 40px;
  border-style: solid;
  border-color: #28ae83;
}
#banner-button:hover {
  background-color: #27ad82;
  border-color: #27ad82;
  cursor: pointer;
}

@media (max-width: 1366px) {
  body {
    margin: 0.2em;
    width: 100vw;
  }
  #menu-icon {
    display: block;
    color: #1c795b;
    margin: 1em;
  }
  #list-header .elem {
    display: none;
  }
  ul#list-header {
    display: flex;
    justify-content: space-between;
  }
}
